.smurf {
    width: 30%;
}

.ui.card.smurfCard {
    margin: 10px auto;
}

.smurfModal {
    // background: red;
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
    }
}

.smurfModalButtons {
    // background: red;
    margin: 20px 0;

    .smurfModalButton {
        // background: blue;
        // background: red;
        margin: 5px 0;
        width: 100%;
    }
}